body {
    margin: 0 auto;
    padding-top: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

canvas {
    background-color: white;
    display: block;
}
