<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maze Runner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{url_for('static', filename='eg.ico')}}">
    <script type="module" src="{{ url_for('static', filename='menu.js') }}"></script>
    {% block scripts %}{% endblock %}
    {% block styles %} {% endblock %}
</head>
<body>
    {% block canvas %}{% endblock %}
    <header>
        {% block navigation %}
        <!-- <nav>
            <ul>
                {% if g.user %}
                    <li><a href="{{ url_for('game') }}">Play!</a></li>
                    <li><a href="{{ url_for('index') }}">Instructions</a></li>
                    <li><a href="{{ url_for('user') }}">{{ g.user }}</a></li>
                    <li><a href="{{ url_for('logout') }}">Log out</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('registration') }}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endblock %}
    </header> -->

    <main>
        {% block main_content %}{% endblock %}
    </main>

    <footer>
            {% block footer %}
            <p>&copy;Web Dev 2 - Jordan Buckley.</p>
            {% endblock %}
    </footer>

</body>
</html>