{% extends "base.html" %}

{% block scripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}">
    <script>
        // Set variables on the global window object so game.js module can access them
        window.user = "{{ user }}"; // Pass the user name as a string
        window.isAdmin = {{ 'true' if is_admin else 'false' }}; // Render 'true' or 'false' directly
        console.log("HTML Inline Script - User:", window.user);
        console.log("HTML Inline Script - Is Admin:", window.isAdmin);
    </script>
    
    <script type="module" src="{{ url_for('static', filename='game.js') }}"></script>
{% endblock %}

{% block canvas %}
<div class="game-container">
    <canvas id="background"></canvas>
    <audio id="menu-music" loop>
        <source src="{{ url_for('static', filename='images/music.mp3') }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</div>
{% endblock %}


{% block content %}
<button id="start-game-button">Start Dungeon Crawl</button>

<div id="outcome"></div> {# Example if you use the 'outcome' div #}

{% endblock %}
