{% extends "base.html" %}

{% block scripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}">
    <script type="module" src="{{ url_for('static', filename='game.js') }}"></script>
{% endblock %}

{% block canvas %}
<div class="game-container">
    <canvas id="background"></canvas>
    <audio id="background-music" loop>
        <source src="{{ url_for('static', filename='images/music.mp3') }}" type="audio/mpeg">
    </audio>
</div>
{% endblock %}


{% block content %}
<button id="start-game-button">Start Dungeon Crawl</button>

<div id="outcome"></div> {# Example if you use the 'outcome' div #}

{% endblock %}
