{% extends "base.html" %}
{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='menu.js') }}"></script>
{% endblock %}
{% block main_content %}
<section id="menu">
    <h1>Welcome to the Maze Runner</h1>
    <section id="game-menu">
        <button id="start-game">Start Game</button>
        <button id="view-leaderboard">View Leaderboard</button>
        <button id="profile">Profile</button>
        <button><a href="{{ url_for('logout') }}">Logout</a></button>
    </section>
</section>

{% endblock %}